{% extends 'tic/base.html' %}
{% block title %}
   {{ticketThis}}
{% endblock %}

{% block content %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="column card">
        <div class="column card">
            <div class="dev">
                <h3>Название задачи: {{ ticket.subject }}</a></h3>
                <p><a href="{% url 'editRole' ticket.id %}" class="card__body">Статус задачи: {{ ticket.kind }}</p></a>
                <p>Описание задачи: {{ ticket.body }}</p>
                <p>Дата создания: {{ ticket.created }}</p>
            </div>
        </div>    
    </div>

    <div class="devInfo">
    <button class="btn btn-outline-info" type="submit"><a class="ml-2" href="{% url 'createMessage' ticket.id %}">Создать комментарий</a></button>
    {% for message in messages %}
    <div class="column card">
        <div class="dev">
            <a href="#" class="card__body">
                <div class="dev__message">
                    <div class="dev__meta">
                        <h3>Текст сообщения: {{ message.body }}</a></h3>
                        <p>Статус задачи: {{ message.kind }}</p>
                        <p>Комментарий к тикету: {{ message.ticket }}</p>
                        <p>Автор комментария: {{ message.author.user }}</p>
                        <button class="btn btn-outline-info" type="submit"><a class="ml-2" href="{% url 'deleteMessage' message.id profile.slug%}">Удалить комментарий</a></button>
                        <button class="btn btn-outline-info" type="submit"><a class="ml-2" href="{% url 'editRoleMessage' message.id %}">Изменить статус комментария</a></button>
                    </div>
                </div> 
        </div>
    </div>
    {% endfor %}


    </div>
    
    
    <div class="devInfo">
        <button class="btn btn-outline-info" type="submit"><a class="ml-2" href="{% url 'deleteTicket' ticket.id profile.slug%}">Удалить тикет</a></button>
        <button class="btn btn-outline-info" type="submit"><a class="ml-2" href="{% url 'userProfile' profile.slug %}">Мой профиль</a></button>
        <button class="btn btn-outline-info" type="submit"><a class="ml-2" href="{% url 'logoutUser' %}">Выйти</a></button>
    </div>
</body>

{% endblock %}
</html>