{% extends 'us/base.html' %}
{% block title %}
   {{userProfile}}
{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card__body dev">
        <a class="tag tag--pill tag--main settings__btn" href="#"><i class="im im-edit"></i>
          Изменить данные</a>
        <img class="avatar avatar--xl dev__avatar" src="{{ profile.image.url }}" />
        <h2 class="dev__name">{{ profile.name  }}</h2>
        <p class="dev__title">{{ profile.email }}</p>
        <p class="dev__role">{{ profile.role }}</p>

  
      {% if profile.role == 'Соппорт' %}
      <main class="home">
        <section class="hero-section text-center">
            <div class="container container--narrow">
                <div class="hero-section__box">
                    <h2>Найти нужный <span>тикет</span></h2>
                </div>
    
                <div class="hero-section__search">
    
                    <form id="searchForm" class="form" action="{% url 'ticketsAll' %}" method="get">
                        <div class="form__field">
                            <label for="formInput#search">Поиск среди тикетов </label>
                            <input class="input input--text" id="formInput#search" type="text" name="search_query"
                                value="" placeholder="Найти тикет по теме, содержанию, автору" />
                        </div>
    
                        <input class="btn btn--sub btn--lg" type="submit" value="Найти" />
                    </form>
    
                </div>
            </div>
        </section>
        
          <button class="btn btn-outline-info" type="submit"><a class="ml-2" href="{% url 'ticketsAll'  %}">Все тикеты</a></button>
      {% endif %}

      </div>
        <div class="devInfo">
          <h3 class="devInfo__title">Обо мне</h3>
          <p class="devInfo__about">{{ profile.intro }}</p>
        </div>
        <div class="devInfo">
        
        {% if profile.role == 'Пользователь' %}
        <div class="comments">
          <h3 class="singleTicket__subtitle">Количество тикетов</h3>
          <h5 class="tickets">
           Количество нерешенных тикетов: {{ profile.unresolverKind }}
          </h5>
          <h5 class="tickets--rating">
           Количество решенных тикетов: {{ profile.resolverKind}}
          </h5>
          <h5 class="tickets--rating">
           Количество замороженных тикетов: {{ profile.fronzenKind}}
          </h5>

            <button class="btn btn-outline-info" type="submit"><a class="ml-2" href="{% url 'createTickets' profile.slug %}">Создать тикет</a></button>
        {% endif %}    
            <button class="btn btn-outline-info" type="submit"><a class="ml-2" href="{% url 'userTickets' profile.slug %}">Мои тикеты</a></button>

          </div>

        <button class="btn btn-outline-info" type="submit"><a class="ml-2" href="{% url 'logoutUser' %}">Выйти</a></button>
</body>
{% endblock %}

